/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
/*.slide-fade-enter-active {*/
    /*transition: all .2s ease;*/
/*}*/
/*.slide-fade-leave-active {*/
    /*transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
/*}*/
/*.slide-fade-enter, .slide-fade-leave-active {*/
    /*transform: translateX(10px);*/
    /*opacity: 0;*/
/*}*/






.fade-enter-active, .fade-leave-active {
    transition: opacity .1s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

.com-app{
    position: relative;
    height: calc(100vh - 2.66667rem);
    width: 100%;
    overflow: scroll;
}
.com-app-box{
    position: relative;
    height: 100vh;
}

.child-view {
    position: absolute;
    width: 100%;
    transition: all .2s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}


.fixed_div{
    position:fixed;
    width:100%;
    top: 0px;
    z-index: 999;
}
.fixed_top{
    position:fixed;
    width:100%;
    top: 0px;
    z-index: 999;
}

.fixed_bottom{
    position:fixed;
    width:100%;
    bottom: 0px;
    z-index: 999;
}
.zhanwei{
    width: 100%;
    height: 55px;
}
.bar-container{
    background: white;
    margin:55px 5px 55px 5px;
}
.container{
    background: white;
}
